.dark {
    background-color: black;
    color: #fff;

    #my-tableInputs {
        background-color: black;
        color: white;
    }
    #dropdown-basic-button {
        background-color: black;
        font-weight: bold;
        border-color: white;
    }
}

.light {
    background-color: #fff;
    color: black;

    #my-tableInputs {
        background-color: salmon;
        color: Black;
    }

    #dropdown-basic-button {
        background-color: salmon;
        border-style: none;
        color: black;
        font-weight: bold;
    }

}
.navbarContainer {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;

    .navContentsContainer {
        display: flex;
        align-items: center;

        .btnContainer {
            display: flex;
            justify-content: center;

            button {

                border: none;
                padding: 0;

                img {
                    width: 100%;
                    height: 50px;
                }
            }
            

        }
        
        .titleContainer {
            display: flex;
            justify-content: center;

            h1 {
                font-size: 35px;
            }
        }

        .dateTime {
            display: flex;
            justify-content: center;
            font-size: 16px;
        }

        // ul {
        //     display: flex;
        //     flex-direction: column;
        //     padding: 0;
        //     margin: 0;
        //     width: 100%;
        //     height: 100%;
        //     box-sizing: border-box;
        //     justify-content: center;
        //     align-items: flex-end;

        //     li {
        //         list-style: none;
        //     }
        // }
    }
}